@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Barlow:wght@300&family=Maven+Pro&family=Monda:wght@700&family=Poppins:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  z-index: 1;
  background-color: #303030;
  /* background-color: transparent; */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0 ;
}

.navbar .logo{
  font-weight: 700;
  font-size: 5vmin;
  font-family: 'Barlow', sans-serif;
  opacity: 0;
  animation: slideRight 2s ease forwards;
  /* padding: 0 5rem 0 0 ; */
  /* background-color: green; */
}
.nav-items{
  display: flex;
  /* padding: 0 0 0 5rem; */
  /* background-color: aqua; */
}
.nav-items li{
  /* display: inline-block; */
  list-style-type: none;
  padding: 1rem;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  /* animation-delay: calc(0.2s * var(--i)); */

}
.nav-items li a{
  text-decoration: none;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  transition: 0.3s;
}
.nav-items li a:hover{
  color: #24e66b;
}


/* Keyframe Animations */

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

