.cont-1{
    width: 100%;
    height: 75vh;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(20px);
    /* padding-top: 50px; */
}
.cont-text{
    font-size: calc(30px + 2vw);
    font-family: 'Arima Madurai', cursive;
    padding:  0 1rem;
    color: aquamarine;
    opacity: 0;
    margin-bottom: 1rem;
    animation: slideTop 2s ease forwards;
}

.cont-tab{
    width: 100%;
    height: 100vh;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    /* border-radius: 1rem; */
    /* background-color: azure; */
}
.cont-head{
    color: white;
    font-size: 2.5em;
    font-family: 'Monda', sans-serif;
    /* background-color: #c2fbd7; */
}
.cont-group{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
}
.cont-img{
    width: 20vw;
    display: flex;
    align-items: center;
    
}
.cont-form{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
} 
.cont-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.cont-img img{
    width: 100%;
    pointer-events: none;
}
.cont-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    /* font-family: 'Maven Pro', sans-serif; */
    
}
.addr-icon{
    font-size: 2rem;
    color: rgb(237, 105, 174);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}
.addr-icon ion-icon{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.cont-email{
    color: rgb(235, 206, 225);
    font-size: calc(15px + 0.6vw);
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    opacity: 0;
    text-align: center;
    animation: fadeIn 2s ease forwards;
    margin-bottom: 1rem;
}

.iit, .iit-address{
    text-align: center;
    font-size: calc(15px + 0.2vw);
    font-family: 'Maven Pro', sans-serif;
    color: rgb(247, 202, 231);
    
}
.cont-form input{
    height: 50px;
    font-size: 1.3rem;
    padding: 0 1rem;
    margin: 10px 0;
    border-radius: 0.5rem;
}
.cont-form textarea{
    margin: 10px 0;
    font-size: 1.3rem;
    height: 120px;
    padding: 0 1rem;
    border-radius: 0.5rem;
}
.cont-form input[type=submit]{
    background-color: #c2fbd7;
    font-weight: 700;
    transition: 0.3s;
    border-radius: 0.5rem;
    font-family: 'Maven Pro', sans-serif;
}
.cont-form input[type=submit]:hover{
    background-color: #6dce91;
}
.name-submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-big{
    width: calc(250px + 30vw);
    resize: none;
}

.form-small{
    width: calc(125px + 14vw);
}
.form-x-small{
    /* margin: 10px; */
    width: calc(80px + 5vw);
    /* height: 20px; */
}

.s1{
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

.s2{
    opacity: 0;
    animation: slideLeft 2s ease forwards;
}

/* keyframe animations */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
      opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        /* transform: translateY(-100px); */
      opacity: 0;
    }
    
    100% {
        /* transform: translateY(0); */
        opacity: 1;
    }
}

/* Media Query */
@media only screen and (max-width:750px)  {
    .name-submit{
        flex-direction: column;
    }
    .form-small{
        width: calc(250px + 30vw);
    }
    
}