@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Barlow:wght@300&family=Maven+Pro&family=Monda:wght@700&family=Poppins:wght@300&display=swap');

.home-head{
  color: white;
  padding-top: 6rem;
  background-color: #303030;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* font-size: 2rem; */
}

.home-content h1{
  font-size: 3rem;
  font-family: 'Monda', sans-serif;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.home-content h3{
  font-size: 2rem;
  font-family: 'Maven Pro', sans-serif;
  color: #c2fbd7;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}

.home-content h3 span {
  font-family: 'Maven Pro', sans-serif;
}
.home-content button{
  background-color: transparent;
  margin-top: 2rem;
  width: 8rem;
  height: 3rem;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.home-content button:hover{
  background-color: #90e1ae;
  border: 1px solid #90e1ae;
  color: black;
  /* box-shadow: 1px 1px 1px 0.2rem rgb(202, 227, 214) ; */
  
}
.home-img{
  width: 550px;
  /* background-color: antiquewhite; */
}

.home-img img{
  width: 100%;
  pointer-events: none;
  opacity: 0;
  animation: scaleZoomUp 1.5s ease forwards;
}

.home-data{
  background-color: #303030;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-data img{
  pointer-events: none;
  width: 100%;
  opacity: 0;
  animation: slideRight 2s ease forwards;
}
.code-test-img{
  width: 70vmin;
}
.performance{
  width: 100vmin;
  height: 55vh;
  background-color: rgb(51, 73, 103);
  border-radius: 2rem;
  box-shadow: 15px 15px 10px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
}
.card{
  background-color: rgb(35, 35, 35);
  height: 90%;
  width: 88%;
  /* border-radius: 0.5rem; */
  position: relative;
  transition: 0.5s;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card-head{
  color: rgb(224, 139, 107);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-body{
  color: whitesmoke;
  font-size: 1.1rem;
}
/* .card:hover{
  top: -10px;
} */
.push-btn{
  background-color: black;
  height: 4rem;
  width: 1.8rem;
  border-radius: 3rem;
  border: 1px solid rgb(141, 140, 140);
}
.speaker{
  background-color: black;
  height: 6rem;
  border: 1px solid black;
  width: 0.5rem;
  border-radius: 3rem;
}


/* Keyframe Animations */
@keyframes slideBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}