.project{
    width: 100%;
    height: 100vh;
    color: white;
    /* padding-top: 200px; */
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proj-heading{
    color: #c2fbd7;
    font-size: 6rem;
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}